{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Anksory Store</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p aliquet="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius ante in est molestie,
                 id egestas nibh viverra. Duis ultricies mauris nisl, 
                 sed pellentesque elit sodales nec. Sed eget felis sagittis, 
                 semper quam at, rhoncus augue. Sed placerat mollis neque,
                  a finibus purus dictum ac. Donec vulputate ipsum sed mi luctus interdum. 
                  Mauris commodo sit amet mauris et convallis. Nunc accumsan porttitor bibendum.
                   Sed at tortor leo. Nunc fermentum quis ipsum ut facilisis. Quisque maximus leo sed tortor tempus, 
                   sit amet laoreet urna pharetra.
                    <br/><br/>
            Curabitur enim arcu, commodo at eleifend faucibus, sollicitudin vitae odio. Aliquam quam metus, 
            placerat vitae ligula vel, pharetra vulputate ipsum. Donec eget arcu quis ante faucibus ornare 
            nec eget ipsum. Nunc sit amet lobortis arcu. Duis et risus finibus, semper tellus vitae, viverra sem. 
            Aenean mollis ultrices imperdiet. Etiam in vulputate ante. Vestibulum commodo aliquet feugiat.
            Integer faucibus eu lacus ut porttitor. Morbi pulvinar libero sed euismod sodales. Quisque et nunc rutrum,
            tristique ante eget, lobortis neque. Aliquam vitae odio nec eros viverra maximus id in purus.
                    <br/><br/>
                Aenean id augue in eros interdum fringilla. In eleifend scelerisque orci sed rutrum. Donec vel consequat tellus.
                 Duis gravida magna id convallis fermentum. Nulla lacinia accumsan euismod. Etiam nec enim in enim gravida suscipit. Aliquam luctus magna mi,
                  vitae dapibus leo pellentesque quis. Phasellus eu congue augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                   per inceptos himenaeos.
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}